[user]
	name = Jose Bueno
	email = dev@jrbueno.com
[init]
  defaultBranch = main
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  autocrlf = input
  pager = delta
  legacyheaders = false
  excludesfile = /Users/jrbueno/.gitignore
[github]
  user = jrbueno
  token = [GITHUB TOKEN HERE]
[push]
  default = simple
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
